/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define _DEFAULT 0
#define _GAME 1
#define _LOWER 2
#define _NUM 4
#define _SYS 5
#define none_layer 15

&lt {
    tapping-term-ms = <200>;
};

// TO ADD:
// MOD+?+<ijkl> support for ALT+arrow  - Think this is solved now

// Added some trial changes, but removing the space from lower is critical
// Might be worthwhile removing LA(SPACE) and just use those keys?


// Investigate using mod morph to transform bksp<>del using alt?

/ {
    behaviors {
        o_par_ang: open_parentheses_angle {
            compatible = "zmk,behavior-mod-morph";
            label = "OPARANG";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp LT>;
            mods = <(MOD_LSFT)>;
        };
        c_par_ang: close_parentheses_angle {
            compatible = "zmk,behavior-mod-morph";
            label = "CPARANG";
            #binding-cells = <0>;
            bindings = <&kp RPAR>, <&kp GT>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        _DEFAULT {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BSLH  |
// | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// |  CTRL |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | ESC |
//               | GUI | ALT  | LOWER| RAISE| NUMPAD |  | LOWER |BKSPC | SPACE | ENTER | NONE |
            bindings = <
&none       &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                              &none      &none          &none       &none       &none       &none
&kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T                               &kp Y      &kp U          &kp I       &kp O       &kp P       &kp BSLH
&kp LSHFT   &kp A       &kp S       &kp D       &kp F       &kp G                               &kp H      &kp J          &kp K       &kp L       &kp SEMI    &lt _NUM SQT
&kp LCTRL   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp C_MUTE  &tog _GAME  &kp N      &kp M          &kp COMMA   &kp DOT     &kp FSLH    &lt _SYS ESC
                        &none       &kp LALT    &mo _LOWER  &mo _NUM    &none       &none       &mt LGUI BSPC &kp SPACE   &kp RET     &none 
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        _GAME {
// ------------------------------------------------------------------------------------------------------------
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |           ||          |           |           |           |           |           |           |
//                      |           |           |           |           |           ||          |           |           |           |           |                       
            bindings = <
&none       &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                              &kp N6      &kp N7       &kp N8      &kp N9      &kp N0      &tog 5
&kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T                               &kp Y       &kp U        &kp I       &kp O       &kp P       &kp BSLH
&kp LSHFT   &kp A       &kp S       &kp D       &kp F       &kp G                               &kp H       &kp J        &kp K       &kp L       &kp SEMI    &lt _NUM SQT
&kp LCTRL   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp C_MUTE  &tog _GAME  &kp N       &kp M        &kp COMMA   &kp DOT     &kp FSLH    &lt _SYS ESC
                        &none       &kp LALT    &kp SPACE   &mo _NUM    &none       &none       &mt LGUI BSPC &kp SPACE  &kp RET     &none 
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };
        _LOWER {
// ------------------------------------------------------------------------------------------------------------
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |  ESC   |   SPACE   |   ENTER   |   BKSPC   |    DEL    |   LC(T)   |                       |    PGUP   |           |     ^     |           |           |           |
// |   o    |  CTRL A   |  CTRL S   |    NUM    |   LC(F)   |           |                       |    HOME   |     <     |     V     |     >     |    END    |           |
// |   o    |    UNDO   |    CUT    |   COPY    |   PASTE   |           |                       |    PGDN   |           |           |   LC(.)   |           |           |
//                      |     o     |     o     |           |           |           ||          |    DEL    |           |           |           |                       
            bindings = <
&none       &none       &none       &none       &none       &none                               &none       &none       &none       &none       &none       &none
&kp ESC     &kp SPACE   &kp RET     &kp BSPC    &kp DEL     &kp C_VOL_UP                        &none       &kp EQUAL   &kp UP      &kp MINUS   &none       &none       
&trans      &kp LC(A)   &kp LC(S)   &none       &kp LC(F)   &kp C_MUTE                          &kp HOME    &kp LEFT    &kp DOWN    &kp RIGHT   &kp END     &kp PG_UP   
&trans      &kp LC(Z)   &kp LC(X)   &kp LC(C)   &kp LC(V)   &kp C_VOL_DN &none      &none       &kp GRAVE   &kp LBKT    &kp RBKT    &none       &none       &kp PG_DN   
                        &trans      &trans      &none       &none        &none      &none       &kp DEL     &o_par_ang  &c_par_ang  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        _NUM {
// ------------------------------------------------------------------------------------------------------------
// |   o    |           |           |           |           |           |                       |           |           |           |           |           |           |
// |   o    |           |           |           |           |           |                       |           |     7     |     8     |     9     |           | TOG GAME  |
// |   o    |           |           |           |           |           |                       |           |     4     |     5     |     6     |           |           |
// |   o    |     .     |           |           |           |           |           ||          |           |     1     |     2     |     3     |           |           |
//                      |     o     |     o     |           |           |           ||          |           |     0     |           |     .     |                       
            bindings = <
&trans      &none       &none       &none       &none       &none                               &none       &none       &none         &none           &none        &none        
&trans      &kp F1      &kp F4      &kp F7      &kp F10     &kp C_PREV                          &kp PLUS    &kp N7      &kp N8        &kp N9          &kp STAR     &none
&trans      &kp F2      &kp F5      &kp F8      &kp F11     &kp C_PP                            &kp MINUS   &kp N4      &kp N5        &kp N6          &kp DOT      &none
&trans      &kp F3      &kp F6      &kp F9      &kp F12     &kp C_NEXT  &none       &none       &none       &kp N1      &kp N2        &kp N3          &kp FSLH     &none
                        &none       &trans      &none       &none       &none       &none       &mt LGUI BSPC &kp N0    &trans       &none        
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        _SYS {
// ------------------------------------------------------------------------------------------------------------
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |           ||          |           |           |           |           |           |           |
//                      |           |           |           |           |           ||          |           |           |           |           |                       
            bindings = <
&none       &none       &none       &none       &none       &none                               &none       &none       &none       &none       &none       &none
&trans      &bt BT_PRV  &bt BT_NXT  &none       &none       &bt BT_CLR                          &none       &none       &none       &none       &none       &none
&trans      &bt BT_SEL 0 &bt BT_SEL 1 &none     &none       &none                               &none       &none       &none       &none       &none       &none
&trans      &out OUT_USB &out OUT_BLE &none     &none       &none       &none       &none       &none       &none       &none       &none       &none       &none
                        &none       &trans      &none       &none       &none       &none       &none       &none       &none       &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        old_game_layer {
// ------------------------------------------------------------------------------------------------------------
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |           ||          |           |           |           |           |           |           |
//                      |           |           |           |           |           ||          |           |           |           |           |                       
            bindings = <
&kp ESC     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                              &kp N6      &kp N7       &kp N8      &kp N9      &kp N0      &tog 5
&kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T                               &kp Y       &kp U        &kp I       &kp O       &kp P       &kp BSLH
&kp LSHFT   &kp A       &kp S       &kp D       &kp F       &kp G                               &kp H       &kp J        &kp K       &kp L       &kp SEMI    &kp SQT
&kp LCTRL   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp C_MUTE  &kp C_PP    &kp N       &kp M        &kp COMMA   &kp DOT     &kp FSLH    &none
                        &kp LGUI    &kp LALT    &kp SPACE   &mo 2       &mo 4       &none       &kp BSPC    &kp SPACE    &kp RET     &none 
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        none_layer {
// ------------------------------------------------------------------------------------------------------------
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |                       |           |           |           |           |           |           |
// |        |           |           |           |           |           |           ||          |           |           |           |           |           |           |
//                      |           |           |           |           |           ||          |           |           |           |           |                       
            bindings = <
&none       &none       &none       &none       &none       &none                               &none       &none       &none       &none       &none       &none
&trans      &none       &none       &none       &none       &none                               &none       &none       &none       &none       &none       &none
&trans      &none       &none       &none       &none       &none                               &none       &none       &none       &none       &none       &none
&trans      &none       &none       &none       &none       &none       &none       &none       &none       &none       &none       &none       &none       &none
                        &trans      &trans      &none       &none       &none       &none       &none       &none       &none       &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };
    };
};
